<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-participacion-evento-heading" jhiTranslate="backendLsRidersApp.participacionEvento.home.createOrEditLabel">Create or edit a Participacion Evento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!participacionEvento.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="participacionEvento.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="backendLsRidersApp.participacionEvento.fechaApuntado" for="field_fechaApuntado">Fecha Apuntado</label>
                    <div class="d-flex">
                        <input id="field_fechaApuntado" type="datetime-local" class="form-control" name="fechaApuntado" [(ngModel)]="fechaApuntado" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="backendLsRidersApp.participacionEvento.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="participacionEvento.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === participacionEvento.user?.id ? participacionEvento.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="backendLsRidersApp.participacionEvento.event" for="field_event">Event</label>
                    <select class="form-control" id="field_event" name="event" [(ngModel)]="participacionEvento.event" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="eventOption.id === participacionEvento.event?.id ? participacionEvento.event : eventOption" *ngFor="let eventOption of events; trackBy: trackEventById">{{eventOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
