<div>
    <h2 id="page-heading">
        <span jhiTranslate="backendLsRidersApp.participacionEvento.home.title">Participacion Eventos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-participacion-evento" [routerLink]="['/participacion-evento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="backendLsRidersApp.participacionEvento.home.createLabel">
            Create new Participacion Evento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="participacionEventos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="backendLsRidersApp.participacionEvento.fechaApuntado">Fecha Apuntado</span></th>
            <th><span jhiTranslate="backendLsRidersApp.participacionEvento.user">User</span></th>
            <th><span jhiTranslate="backendLsRidersApp.participacionEvento.event">Event</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let participacionEvento of participacionEventos ;trackBy: trackId">
                <td><a [routerLink]="['/participacion-evento', participacionEvento.id, 'view' ]">{{participacionEvento.id}}</a></td>
                <td>{{participacionEvento.fechaApuntado | date:'medium'}}</td>
                <td>
                    {{participacionEvento.user?.login}}
                </td>
                <td>
                    <div *ngIf="participacionEvento.event">
                        <a [routerLink]="['../event', participacionEvento.event?.id, 'view' ]" >{{participacionEvento.event?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/participacion-evento', participacionEvento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/participacion-evento', participacionEvento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'participacion-evento', { outlets: { popup: participacionEvento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
